<!doctype html>
<html lang="en">
<head>
	<title>Website Title</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Website Description">
	<meta name="keywords" content="Website, Keywords">
	<meta name="author" content="Webmaster">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../external/css/reset.css">
	<link rel="stylesheet" href="../../external/css/class.css">
	<link rel="stylesheet" href="css/common.css">
	<script src="../../external/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<header>
		<nav id="gnb">
		</nav>
	</header>
	<section id="slider">
		<article>
		</article>
	</section>
	<section id="links">
		<article>
		</article>
	</section>
	<section id="posts">
		<article>
		</article>
	</section>
	<footer>
		<nav id="fnb">
		</nav>
	</footer>
	
	<!--[if lte IE 8]>
	<div class="immigration">
		<span>Upgrade your browser.</span>
	</div>
	<![endif]-->
</body>
</html>