<!doctype html>
<html lang="en">
<head>
	<title>Website Title</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Website Description">
	<meta name="keywords" content="Website, Keywords">
	<meta name="author" content="Webmaster">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../external/css/reset.css">
	<link rel="stylesheet" href="../../external/css/class.css">
	<script src="../../external/js/immigration.js"></script>
	<script src="../../external/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	
</body>
</html>